html{
    /* With this font-size,a  rem will be equal to 10px */
    font-size: 62.5%; 
}

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    overflow-x: hidden;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    z-index: 999;
}
    

a{
    text-decoration: none;
}

li{
    list-style: none;
}

/* header */


.header{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 5.5rem;
    background: black;
    position: fixed;
    width: 100%;
    flex-wrap: wrap;
    z-index: 100;
}


.header__logo{
    font-size: 1.8rem;
    font-weight: 900;
    color: white;
}

.header__menu ul{
    display: flex;
    justify-content: space-between;
    width: 28.5rem;
}

.header__menu  a{
    font-size: 1.8rem;
    font-weight: 600;
    color: unset;
    cursor: pointer;
    color: white;
}
.header__menu li:hover{
    transform: scale(1.2);
}
.toogle-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bi-lightbulb-fill{
    font-size: 2.2rem;
    color: white;
}
.bi-lightbulb-off-fill{
    font-size: 2.2rem;
}


/* contenido */

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}

.section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 22rem;
 
    
}
.section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.section__container{
    display: flex;
    flex-direction:row;
    width: 60%;
}
h1{
    font-size: 2.5rem;
}
.texto1{
    font-size: 1.8rem;
    line-height: 1.5;
    width: 60%;
}
.texto{
    font-size: 1.8rem;
    line-height: 1.5;
}
    


.section2__img img{
    width: 50rem;
}

.background{
    display: none;
}



@media screen and (max-width:768px){
    .header {
        padding: 2.2rem 0.3rem;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    .texto1, .section__container{
        width:90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
   

}