.dark-mode body{
    background-color: black;
    color: white
    
}


.dark-mode  h1{
    color: rgb(255, 255, 255);
}

.dark-mode .header{
    background-color: rgb(233, 233, 233);
    color: black;
}


.dark-mode .header__nav__menu a{
    color: rgb(0, 0, 0);
}

.dark-mode .header__logo{
    color: black;
}

@media screen and (max-width: 768px) {
    .dark-mode .panel{
        background-color: rgba(0, 0, 0, 0.625);
    }
    .dark-mode .header__nav__menu a{
        color: rgb(22, 255, 185);
    }
}


